.modal-add {
  width: 40% !important ;
  height: fit-content;
  margin: auto;
  margin-top: 20vh;
  background-color: white;
  padding: 4vh 0;
  align-items: center;
  .modal-add__label {
    text-align: center;
    font-size: x-large;
    padding-right: 2vw;
    margin: 1vw 0;
  }
}
.modal-delete {
  width: 30%;
  padding: 8vh 0;
  margin: auto;
  margin-top: 20vh;
  height: 20vh;
  background-color: white;
  &__header {
    text-align: center;
  }
  &__button-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3vw;
  }
}
